@import "colors.css";

* {
 	font-family: "JetbrainsMono Nerd Font", Helvetica, FontAwesome, Roboto, Arial, sans-serif;
    font-size: 16px;
}

menu {
	border-radius: 15px;
	background: @Sakura_pink;
	color: @Black;
	border: 4px solid @Night_sky;
}
menuitem {
	border-radius: 15px;	
}
menuitem:hover {
	background-color: @Night_sky;
	color: @White;
}



window#waybar {
    background-color: transparent;
    color: @White;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}



button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @White;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @Sakura_pink;
    border-radius: 30px 0px 0px 30px;
}
#custom-notification:hover {
    background-color: @Sakura_pink;
}

/*#network:hover {
	background-color: transparent;
	background-image: linear-gradient(90deg,  #48246E, #DB51BB);
} */
#backlight:hover {
	background-color: @Sakura_pink;
}
#battery:hover {
	background-color: @Sakura_pink;
}
#tray:hover {
	background-color: @Sakura_pink;
}
#clock:hover {
	background-color: @Night_sky;
	color: @White;
}
#custom-power:hover {
	background-color: @Sakura_pink;
}


#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @Sakura_pink;
}
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}
#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px @White;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}


#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px @White;
}




#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @White;
}

#window {
	background-color: transparent;
	font-weight: bold;
	background-image: linear-gradient(90deg, transparent 25%,@Sakura_pink);
	border-radius: 0px 30px 30px 0px;
	min-width: 300px;
}

#controls {
	 background-color: transparent;
	 background-image: linear-gradient(270deg, transparent 25%,@Sakura_pink);
	 border-radius: 30px 0px 0px 30px;
}

#workspaces {
    margin: 0 4px;
}



/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @Black;
    background-color: @Sakura_pink;
    border-radius: 30px;
    font-size: 100%;
    
}

#battery {
   		color: @White;
   		background-color: inherit;
        border-radius: 0;
        font-size: 100%;
   
}
#battery.charging, #battery.plugged {
    color: @White;
    background-color: @Ligh_pink;
}

@keyframes blink {
    to {
        background-color: @White;
        color: @Black;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @Red;
    color: @White;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


label:focus {
    background-color: @Black;
}

#backlight {
    color: @White;
    background-color: inherit;
    border-radius: 0;
    font-size: 100%;
}

#pulseaudio {
    color: @White;
    background-color: inherit;
    font-size: 100%;
}
#pulseaudio.muted {
    background-color: @Sakura_pink;
    color: @Blue;
}

#tray {
    color: @White;
    background-color: inherit;
    border-radius: 0;
    font-size: 100%;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @Red;
}

#custom-notification {
font-family: "NotoSansMono Nerd Font";
color: @White;
background-color: inherit;
font-size: 100%;
}
